meteor_tests:
  image: debian:latest
  stage: test
  script:
  - apt-get update
  - apt-get -y install curl locales libfontconfig python g++ make
  - locale-gen en_US.UTF-8
  - localedef -i en_GB -f UTF-8 en_US.UTF-8
  - curl https://install.meteor.com/ | sh
  - meteor npm install
  - meteor npm run-script test
  - meteor npm run-script test-full


build_docker_image:
  image: gitlab/dind:latest
  stage: deploy
  script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
  - docker build -t registry.gitlab.com/aedm/got7-death-pool:$CI_BUILD_REF -t registry.gitlab.com/aedm/got7-death-pool:latest .
  - docker push registry.gitlab.com/aedm/got7-death-pool:$CI_BUILD_REF
  - docker push registry.gitlab.com/aedm/got7-death-pool:latest
  only:
  - release

