stages:
  - test
  - build
  - deploy

meteor_tests:
  image: aedm/meteor:1.4.2.1
  stage: test
  script:
  - apt-get update
  - apt-get -y install locales libfontconfig
  - locale-gen en_US.UTF-8
  - localedef -i en_GB -f UTF-8 en_US.UTF-8
  - export METEOR_NO_RELEASE_CHECK=true
  - meteor --unsafe-perm remove meteorhacks:kadira
  - meteor npm install
  - meteor npm run-script test
  - meteor npm run-script test-full
  except:
  - release

build_docker_image:
  image: gitlab/dind:latest
  stage: build
  script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
  - curl https://aedm.github.io/minimeteor/build.sh | sh -s registry.gitlab.com/aedm/got7-death-pool:latest registry.gitlab.com/aedm/got7-death-pool:$CI_BUILD_REF
  - docker push registry.gitlab.com/aedm/got7-death-pool:$CI_BUILD_REF
  - docker push registry.gitlab.com/aedm/got7-death-pool:latest
  only:
  - release

deploy_to_aedm_us:
  image: sequenceiq/alpine-curl
  stage: deploy
  script:
  - curl $AEDM_US_DEPLOY_URL?token=$AEDM_US_DEPLOY_TOKEN
  only:
  - release

