@votetable-name-cell-width: 200px;
@checkbox-size: 16px;

div.checkbox {
  margin: 0;
  line-height: 0;
}

.votetable-name {
  width: @votetable-name-cell-width;
  min-width: @votetable-name-cell-width;
  max-width: @votetable-name-cell-width;
  text-align: left;
}

.votetable-count {
  display: inline-block;
  width: 30px;
  border-right: 1px solid #bbb;
  margin-right: 6px;
  text-align: right;
  padding-right: 6px;
}

td {
  text-align: center;
  vertical-align: middle !important;
  min-width: 30px;

  label {
    padding: 0 !important;

    input[type="checkbox"] {
      margin-left: 0 !important;
      position: relative !important;
      width: @checkbox-size !important;
      height: @checkbox-size !important;

      &[disabled] {
        cursor: auto;
        display: none;

        &:checked {
          display: inherit;
        }
      }
    }
  }
}

