$votetable-name-cell-width: 250px;

div.checkbox {
  margin: 0;
}

.votetable-name {
  width: $votetable-name-cell-width;
  min-width: $votetable-name-cell-width;
  max-width: $votetable-name-cell-width;
}